
# Predicting the survival of passengers of the titanic disaster with machine learning

This exercise aims to predict the outcome of the titanic disaster using machine learning. The given data is split into training and test data. The train.csv will be used to fit the machine learning algorithms which are then applied on the test.csv to predict who will surivive. The datasets consist of different characteristics that are listed below:

| Variable | Definition | Key |
| :- | -: | :-: |
| PClass | Passenger Class | 1=1st, 2=2nd, 3=3rd |
| Sex | Gender | |
| Age | Age in years |
| SibSp | # of siblings / spouses aboard the titanic  |
| Parch | # of parents / children aboard the titanic |
| Ticket | Ticket number |
| Fare | Passerger fare |
| Cabin | Cabin number | 
| Embarked | Port of boarding the ship | C = Cherbourg, Q = Queenstown, S = Southampton |
| Survived | Survival | 0=No, 1=Yes |

Variable Notes

pclass:
1st = Upper,
2nd = Middle,
3rd = Lower

age: The age is fractional if less than 1. If the age is estimated, it will have the form xx.5

sibsp: <br> The dataset defines family relations in this way: <br>
Sibling = brother, sister, stepbrother, stepsister <br>
Spouse = husband, wife (mistresses and fianc√©s were ignored)

parch: <br> The dataset defines family relations in this way: <br>
Parent = mother, father <br> Child = daughter, son, stepdaughter, stepson <br> Some children travelled only with a nanny, therefore parch=0 for them.

This exercise is split into three parts with data processing being the longest and most important part.
1. Data vizualization
2. Data processing
3. Machine learning algorithms

## Import libaries

First we have to import all libraries that we will need at a later point of the exercise. Seaborn and matplotlib are used for data vizulization. Pandas and numpy will help with data processing and linear algebra. At last the databases for the different machine learing algorithms are imported from sklearn. Optionally an image database is added for the purpose of addind pictures into the Jupyter notebook.

In [1]:
## Import necessary libraries

# 1. Data vizualization

The first part data vizualization is there to get an understanding of the data set. Only by knowing what we are working with, we can determine what data we need or don't. <br>
With all libraries imported we can start by cearting new variables "test_df" which will contain our test set and trand_df which includes the training set. To do this we use the pandas function "read_csv".

In [2]:
## Load data sets one for testing one for training

In [3]:
## Look at the data structure (Colums and data types)

The .info() function in Python shows us information regarding the data set. It displays all columns, the count of entires inside the columns and what type they have. In this case we have two float64, five int64 and five objects.

In [4]:
## Have a look to the statistics of each column of the training dataset

In [5]:
## Have a closer look to the first 10 rows of the training dataset

By taking a quick look at the training set, some issues are noticable. There are enties __missing__ (NaN = not a number) which have to be dealt with. Furthermore a lot of entries __are not numeric__, which means they have to converted __into numeric values__ for the machine learning algorithms.

Lets take a closer look at what's actually missing.

In [6]:
## Find the NaN or empty entries in training dataset, calculate the total number, the relative number of missing data and display the first 5 rows

#total = train_df.isnull().sum().sort_values(ascending=False)
#percent_1 = train_df.isnull().sum()/train_df.isnull().count()*100
#percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
#missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
#missing_data.head(5)

With only two missing values the Embarked feature can easily be filled. The Age feature is not that simple to fill and the Cabin feature with 687 missing values will probably be dropped alltogether.

In [7]:
## Use print() to have a look to the values of the colums again and answer the question in your group ! 
## Fill the gaps in the following Python cells and the pre coded parts(_____)

Question: <br>
Looking again at all the features provided, which do you think won't have an affect on the prediction models? <br>

Answer: <br>

???

Let's beginn by looking at the features.

# Age & Sex

For the graphical display of the Age and Sex regarding the survival rate, we will be using a histgram. A histogram shows the distributio of a specific feature. In this case it is the distribution of female and male passengers regarding their age and how many survived.

In [8]:
#survived = 'survived'
#not_survived = 'not survived'
#fig, axes = plt.subplots(nrows=1, ncols=2,figsize=(10, 4))

#_____ Here you need the data from your training data set which are 'male'
#_____ Here you need the data from your training data set which are 'female' then the following code works

#ax = sns.distplot(women[women['Survived']==1].Age.dropna(), bins=18, label = survived, ax = axes[0], kde =False)
#ax = sns.distplot(women[women['Survived']==0].Age.dropna(), bins=40, label = not_survived, ax = axes[0], kde =False)
#ax.legend()
#ax.set_title('_____')
#ax = sns.distplot(men[men['Survived']==1].Age.dropna(), bins=18, label = survived, ax = axes[1], kde = False)
#ax = sns.distplot(men[men['Survived']==0].Age.dropna(), bins=40, label = not_survived, ax = axes[1], kde = False)
#ax.legend()
#_ = ax.set_title('_____')

By creating the histogram, it is clearly visibly that men at the age of 20 - 40 had a higher chance of survival. For women the highest chance of survival is between 14 and 40. It is also noticable that infants have a higher survivability rate. 

Question: <br>
What can be done with the age to simplify it even more?

Answer: <br>

???

## Embarked, Pclass and Sex

To visualize the feature Embarked we will be using FacetGrid. It helps in displaying distributions or relationships between multiple variables.

In [9]:
## Visualise the ratio of survived male and female persons according to the PClass for each embarking "S", "C", "Q"- use a pointplot

#FacetGrid = _______ (train_df, row='Embarked', height=4.5, aspect=1.6)
#FacetGrid.map( ______ , 'Pclass', 'Survived', 'Sex', palette=None,  order=None, hue_order=None )
#FacetGrid.add_legend()

The Embarked feature also shows to have a big impact on the survival chance of the passengers. Men that embarked on port C have a higher chance of survival than port S or Q. Women on the other hand have a low survival rate on port C and high chances at port S and Q. <br>
The class also seems to have an affect on the survival rate.

In [10]:
## Visualise the ratio of survived persons according to the PClass they are in - use a barplot

#_____ (x='____', y='____', data=_____)

It is immediately evident that class 1 has the most survivors and class 3 the least.

In [11]:
## Visualize a histogram map of the ages for each class and survival feature (=1 or =0)

#grid = _______ (train_df, col='_____', row='_____', height=2.2, aspect=1.6)
#grid.map(_______, '_____', alpha=.5, bins=20)
#grid.add_legend();

This plot shows the influence of Pclass and highlights the high mortality rate of passengers in class 3.

## SibSp and Parch

SibSp and Parch are features that both show passengers and how many relatives they have on board. Consequently this feature should be combined into a single one. The followong code creates a new feature "not_alone" that shows if a passengers is not alone.

In [12]:
#data = [train_df, test_df]
#for dataset in data:
#    dataset['relatives'] = dataset['SibSp'] + dataset['Parch']
#    dataset.loc[dataset['relatives'] > 0, 'not_alone'] = 0
#    dataset.loc[dataset['relatives'] == 0, 'not_alone'] = 1
#    dataset['not_alone'] = dataset['not_alone'].astype(int)

##Display the number of passengers, who are not alone and those who are alome from the training dataset

In [13]:
## Visualize the ratio of survived passengers with respect to the number of relatives - use a pointplot

#axes = _______ ('______','______', ______ , aspect = 2.5)

The plot shows the survival rate in regards of the relatives a person has. 

Question: 

Passengers with how many relatives have higher chances of survival ?

Answer: 

???

__Concluding the data vizulization we:__
- Looked for empty or missing values (NaN). Have to be dealt with later.
    - Cabin 687 
    - Age 177
    - Embarked 2
- Searched for values that have an influence on the survival chance
    - Age and Sex both have impact on the survial
    - Embarked and Pclass also show effect on the survival 
- SibSp and Parch are similar features and should be combined and also seem to affect the chance of survival

# 2. Data processing

After we established an understanding for the data we can start shaping it into the form we need. For the machine learning algorithms we would want everything to be in numeric values and to be similar in scale.

## PassengerId

The PassengerId doesn't have influence on the survival chance. In this case we will drop the column from the training set.

In [14]:
## Drop the column PassengerID out of the training dataset

In [15]:
## Check the tickets column (TIPP - look to the command for statistics in the code before)

In [16]:
## Drop the column Ticket out of the training and test dataset

## Handling the missing data

### Cabin

Looking back at the features, we have 687 missing values in Cabin, 177 values in Age and only 2 in Embarked. <br>
The values in Cabin are composed of a letter and a number, with the letter being the deck. Instead of dropping the feature as a whole we will only drop the number and create a new feature called "deck", resulting from the letter of the Cabin. The deck letter will be converted into numeric and missing values are 0.

In [17]:
## Display the first 8 rows of the feature cabin

In [18]:
## We want to delete the Cabin nomenclature and replace it with a deck array representing the letter of the cabin

#import re
#deck = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "U": 8}
#data = [train_df, test_df]

#for dataset in data:
#    dataset['Cabin'] = dataset['Cabin'].fillna("U0")
#    dataset['Deck'] = dataset['Cabin'].map(lambda x: re.compile("([a-zA-Z]+)").search(x).group())
#    dataset['Deck'] = dataset['Deck'].map(deck)
#    dataset['Deck'] = dataset['Deck'].fillna(0)
#    dataset['Deck'] = dataset['Deck'].astype(int)
    
# Drop the feature cabin from the training and test dataset

(Comparison between Cabin and deck)

In [19]:
## Display the first 8 rows of the new feature Deck

### Age

For the Age new values will be added derived from the mean age of the standard deviation.

In [20]:
## Fill the missing age data in the training data with a random number between the mean of the age +/- the standard deviation (TIPP - use a for-loop)

In [21]:
## Check if all missing age data are now inserted

In [22]:
## Visualize the filled age column from the training dataset

The Embarked feature  has two missing values. These will be filled out with the most common feature. The .describe() function in Python counts all values returns the most top feature. This is only for categorial values. For numeric values the .describe() funcion returns percentiles and mean values.

In [23]:
## Use the .describe() function for the Embarked feature in the training dataset

For the Embarked feature the most common one is the port S, with 644 entrires.

In [24]:
## Fill the Embarked feature of the training and test dataset with the most common port 'S'

After filling in all the missing values we can check our dataset with .info(). All features should now contain 891 entires and zero missing values. <br> We can also spot the newly added featues "not_alone" and "Deck". The imorted image shows the original dataset without the data processing.

In [25]:
train_df.info()
print("")
img = Image.open('train_df_info.jpg')
img

NameError: name 'train_df' is not defined

As mentioned earlier, all features should be numeric values. The next step shows the convertion into numeric values.

In [26]:
#Converting "fare" from float64 to int 64
#data = [train_df, test_df]

#for dataset in data:
#    dataset['Fare'] = dataset['Fare'].fillna(0)
#    dataset['Fare'] = dataset['Fare'].astype(int)

The tricky part about the names is that there are many different titles, apart from Mr or Mrs, like "Lady", "Countes" and so on. These are not high in number but still have to be accounted for. The following titles 'Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer' and 'Dona' will be converted into a single title called 'Rare'. <br>
'Mlle' and 'Ms' will turn into 'Miss' and 'Mme' will be 'Mrs'.<br>
In the end we are left with five new titles total -> "Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5

In [27]:
#data = [train_df, test_df]
#titles = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

#for dataset in data:
    # extract titles
#    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
    # replace titles with a more common title or as Rare
#    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr',\
#                                            'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
#    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
#    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
#    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    # convert titles into numbers
#    dataset['Title'] = dataset['Title'].map(titles)
    # filling NaN with 0, to get safe
#    dataset['Title'] = dataset['Title'].fillna(0)

# Now please drop the name column from the training and test dataset

Again using the .map() function we are defining male as 0 and female as 1. <br>
The same is done to convert the ports S, C und Q from the Embarked feature.

In [28]:
#genders = {"male": 0, "female": 1}
#data = [train_df, test_df]

#for dataset in data:
#    dataset['Sex'] = dataset['Sex'].map(genders)

In [29]:
# Do the same with the ports "S"= 0, "C"= 1, "Q"= 2

After all values have been converted to numeric, we are left with the following train dataset. <br>

In [30]:
## Look, if the training dataset is complete now

## Creating new categories

Sometimes it is very interesting not to have very fine granual data, but split them into even groups

In [31]:
## Cut the Age feature into a group of 8

In [32]:
## Try this now.

#test.value_counts()

In [33]:
## Now you see how a dataset is  "renamed"

#Creating Categories
#data = [train_df, test_df]
#for dataset in data:
#    dataset['Age'] = dataset['Age'].astype(int) 
#    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0
#    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 21), 'Age'] = 1
#    dataset.loc[(dataset['Age'] > 21) & (dataset['Age'] <= 24), 'Age'] = 2
#    dataset.loc[(dataset['Age'] > 24) & (dataset['Age'] <= 28), 'Age'] = 3
#    dataset.loc[(dataset['Age'] > 28) & (dataset['Age'] <= 32), 'Age'] = 4
#    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 37), 'Age'] = 5
#    dataset.loc[(dataset['Age'] > 37) & (dataset['Age'] <= 45), 'Age'] = 6
#    dataset.loc[ dataset['Age'] > 45, 'Age'] = 7

# let's see how it's distributed 
#train_df['Age'].value_counts()

Question: <br>
What feature is left that could also use new categories? <br>

Answer

??

In [34]:
## Display the statistical properties of your choosen new category

Using the qcut() function, pandas can create ranged groups that have similar amounts of entries.<br>
After that we can go through the data and assign the group to each value.

In [35]:
## Do the same as with age for the Fare, first cut the Age feature into a group of 6

In [36]:
## Try this now.

#groups.value_counts()

In [37]:
## Now we replace Fare for you also with categories 0 to 5 according to the category Age

#data = [train_df, test_df]

#for dataset in data:
#    dataset.loc[ dataset['Fare'] <= 7, 'Fare'] = 0
#    dataset.loc[(dataset['Fare'] > 7) & (dataset['Fare'] <= 8), 'Fare'] = 1
#    dataset.loc[(dataset['Fare'] > 8) & (dataset['Fare'] <= 14), 'Fare']   = 2
#    dataset.loc[(dataset['Fare'] > 14) & (dataset['Fare'] <= 26), 'Fare']   = 3
#    dataset.loc[(dataset['Fare'] > 26) & (dataset['Fare'] <= 52), 'Fare']   = 4
#    dataset.loc[ dataset['Fare'] > 52, 'Fare'] = 5
#    dataset['Fare'] = dataset['Fare'].astype(int)

In [38]:
##You see ?

#train_df['Fare'].value_counts()

The last step before we apply the machine learning algorithms, is to create two new features. <br>

In [39]:
#data = [train_df, test_df]
#for dataset in data:
#    dataset['Age_Class']= dataset['Age']* dataset['Pclass']

In [40]:
#for dataset in data:
#    dataset['Fare_Per_Person'] = dataset['Fare']/(dataset['relatives']+1)
#    dataset['Fare_Per_Person'] = dataset['Fare_Per_Person'].astype(int)# Let's take a last look at the training set, before we start training the models.

## Look at the frist 10 rows of your fitted dataset before you start with Machine Learning

# 3. Machine Learning Algorithms

Now it is time for Machine Learning - You see, data preparation is quite annoying but essential for Machine Learning. According to the theoretial lecture, we want to predict something (in our case the dataset in the Survive column). Hence, we have to drop the Survive data out of the training dataset and define an "Answer" dataset consisting of the Survive dataset placed in the former table

In [48]:
## Drop the Survive data from the trianing dataset und create a new dataset named Y_train with the Survive data


##This we have to do, just delete the #
#X_test  = test_df.drop("PassengerId", axis=1).copy()

Now we apply different Machine Learning algorithms to out preparated data.

## Decision Tree

In [49]:
## Apply the Decision tree algorithm to the training dataset  


## We want to evaluate the score of each prediction model, it is also sufficient to round the score to two places
#acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)

## Stochastic Gradient Decent

In [50]:
## Apply the SGD algorithm to the training dataset with a maximum number of iteration = 5 and tol = None


## Evaluate the score as for Decision Tree

## Random Forest

In [51]:
## Apply the Random Forest algorithm to the training dataset with a maximum number of estimators = 100



## Evaluate the score as for Random Forest

## Logistic Regression

In [52]:
## Apply the Logistic Regression algorithm to the training dataset 



## Evaluate the score as for Logistic Regression

## K nearest neighbour

In [53]:
## Apply the KNN algorithm to the training dataset with 3 neighbors


## Evaluate the score as for KNN

## Gaussian Naive Bayes

In [54]:
## Apply the Gaussian Naive Bayes algorithm to the training dataset


## Evaluate the score as for Gaussian Naive Bayes

## Perceptron

In [55]:
## Apply the Perceptron algorithm to the training dataset with 5 iterations


## Evaluate the score as for Perceptron

## Linear Support Vector Machine

In [56]:
## Apply the Linear Support Vector Machine algorithm to the training dataset with 5 iterations


## Evaluate the score as for Linear Support Vector Machine

## Results

In [57]:
## In the end of our  first comprehensive Machine Learning example we want the know which model fits best to our problem. 
## Therefore change, if neccessary, the code according to your given variables for the score

#results = pd.DataFrame({
#    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
#              'Random Forest', 'Naive Bayes', 'Perceptron', 
#              'Stochastic Gradient Decent', 
#              'Decision Tree'],
#    'Score': [acc_linear_svc, acc_knn, acc_log, 
#              acc_random_forest, acc_gaussian, acc_perceptron, 
#              acc_sgd, acc_decision_tree]})
#result_df = results.sort_values(by='Score', ascending=False)
#result_df = result_df.set_index('Score')
#result_df.head(9)